<section>
  <div class="ph-dot-nav nav">
<a href="/">Home</a>
<a href="contact">Contact</a>
<a href="cookies">Cookies</a>
<a href="cake">Cakes</a>
<a href="muffins">Muffins</a>

<div class="effect"></div>
</div>
</section>


<div id="login-button">
  <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
  </img>
</div>
<div id="main-container">
  <h1>Request Information</h1>
  <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
  </span>
  <form  method="post">
    <input type="email" name="email" placeholder="E-mail">
    <a href="/contact">Send</a>
    <div id="remember-container">
      <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
      <span id="remember">Remember me</span>
      <span id="forgotten">Quick Review</span>
    </div>
</form>
</div>


<div id="forgotten-container">
   <h1>Feedback</h1>
  <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
  </span>

  <form>
    <input type="text"  placeholder="Review">
    <a class="orange-btn">THANKS FOR YOUR FEEDBACK</a>
</form>
</div>

<link rel="stylesheet" href="main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="main.js"></script>
