<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <section>
      <div class="ph-dot-nav nav">
		<a href="/">Home</a>
		<a href="gallery"">Gallery</a>
		<a href="contact">Contact</a>
    <a href="cookies">Cookies</a>
    <a href="cake">Cakes</a>
    <a href="muffins">Muffins</a>
    <img src="images/bread.png">
    <div class="effect"></div>
	</div>
    </section>


    <%= yield %>
<footer>
    <div class="footer-right">
    <ul class="social-nav">
    <li>Follow Us</li>
    <li class="icon-bubble"><a href="https://www.facebook.com/" ><img src="images/facebook.png"><span class="hidden"></a></li>
    <li class="icon-bubble"><a href="https://twitter.com/" ><img src="images/play.png"><span class="hidden"></a></li>
    <li class="icon-bubble"><a href="https://instagram.com/"><img src="images/twitter.png"><span class="hidden"></a></li>
    </ul>

    </div>
    </footer>

<!--Some of this HTML is directly from Pavilion.  You can change it to whatever you want if you want to mimic this design.-->

<!--Some of this HTML is directly from Pavilion.  You can change it to whatever you want if you want to mimic this design.-->




  </body>

  <!-- <script src="main.js"></script> -->
</html>
